.footer {
  display: none;
}
@media screen and (min-width: 600px) {
  .footer {
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-right: 3.5rem;
    border-radius: 20px 20px 0 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
